    :root {
      --text-colour: %s;
    }
    @media screen {
      body {
        font-size: %dpt;
        max-width: %dpx;
        font-family: %s;
        padding-top: %dpx;
      }
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --text-colour: %s;
      }
    }
